In [1]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df

    學號   姓名   國文   英文   數學   地理   歷史   總分    平均
0    1  劉耿琦   75   52   88   59   51  325  65.0
1    2  劉嘉泰   77   87   77   87   93  421  84.2
2    3  詹忠光   97   99   59   91   76  422  84.4
3    4  張凱妮   64   98   91  100   79  432  86.4
4    5  張彥博   65   57   95   68   64  349  69.8
5    6  鄭佳玲   52   63   66   91   66  338  67.6
6    7  沈心利   55   81   77   50   82  345  69.0
7    8  林柏洋   78   72   73   92   81  396  79.2
8    9  林玉佩   77  100   61   62   64  364  72.8
9   10  吳振瑋   61   93   59   80   79  372  74.4
10  11  陳建豪   96   82   90   79   70  417  83.4
11  12  李慈啟   69   92   92   63   68  384  76.8
12  13  昌嘉洋   96   87   74   65   78  400  80.0
13  14  彭偉妃   68   84   68   55   74  349  69.8
14  15  蘇婷婷   57   61   99   57   79  353  70.6
15  16  林益妏   87   60   89   65   89  390  78.0
16  17  鄭琇亞   80   98   54   94   64  390  78.0
17  18  胡姿婷  100   64   62   65   50  341  68.2
18  19  王梅劭   50   58   89   55   60  312  62.4
19  20  吳志宣   88   99   58   81   97  423  84.6
20  21  蔡至剛   90   52   90   67  100  399  79.8
21  22  李立偉   58   91   84   75   55  363  72.6
22  23  游一鈺   97   62   73   70   62  364  72.8
23  24  趙宛真   72   83   79   72   81  387  77.4
24  25  杜儀鳳   71   56   59   52   96  334  66.8
25  26  游淑惠   57   90   52   75   81  355  71.0
26  27  陳怡容   53   99   57   57   62  328  65.6
27  28  高智超   96   62   57   98   67  380  76.0
28  29  陳樂紫   56   84   56   78   88  362  72.4
29  30  郭淑真   53   52   72   90   91  358  71.6
30  31  胡姿婷   50  100   75   51   88  364  72.8
31  32  陳怡珊   62   99   51   99   53  364  72.8
32  33  王泓泰   63   66   54   83   86  352  70.4
33  34  林玉佩   90   74   99   80   70  413  82.6
34  35  游詩亞   73  100   94   90   67  424  84.8
35  36  溫重意   95   93   86   68   96  438  87.6
36  37  姜琬婷   56   86   80   77   65  364  72.8
37  38  劉旭士   78   80   98   60   84  400  80.0
38  39  王怡珊   89   70   63   55   98  375  75.0
39  40  郎慧萍   71   64   59   89   51  334  66.8
40  41  王良斌   74   71   73   55   70  343  68.6
41  42  黃淑芬   85   87  100   69   56  397  79.4
42  43  黃健發   51   62   57   60   57  287  57.4
43  44  黃健發   86   65   77   69   68  365  73.0
44  45  羅幸娥   80   99   65   94   53  391  78.2
45  46  林淑安   79   89   51   97   77  393  78.6
46  47  陳嘉淑   74   76   64   64   70  348  69.6
47  48  唐雪豪   87   89   75   63   53  367  73.4
48  49  陳筱涵   50   95   73   88   83  389  77.8
49  50  楊易政   69   72   62   83   58  344  68.8

In [ ]:
df[["姓名","國文","英文","數學"]]

In [ ]:
#iloc[] 以索引的編號
#loc[] 索引的字串
df.iloc[0]

In [13]:
df.iloc[[0, 3, 5]]

   學號   姓名  國文  英文  數學   地理  歷史   總分    平均
0   1  劉耿琦  75  52  88   59  51  325  65.0
3   4  張凱妮  64  98  91  100  79  432  86.4
5   6  鄭佳玲  52  63  66   91  66  338  67.6

In [9]:
df.iloc[0:6]

   學號   姓名  國文  英文  數學   地理  歷史   總分    平均
0   1  劉耿琦  75  52  88   59  51  325  65.0
1   2  劉嘉泰  77  87  77   87  93  421  84.2
2   3  詹忠光  97  99  59   91  76  422  84.4
3   4  張凱妮  64  98  91  100  79  432  86.4
4   5  張彥博  65  57  95   68  64  349  69.8
5   6  鄭佳玲  52  63  66   91  66  338  67.6

In [15]:
#同時要欄和列
#iloc[],loc[]
df.iloc[:5,[0, 1, 3]]

   學號   姓名  英文
0   1  劉耿琦  52
1   2  劉嘉泰  87
2   3  詹忠光  99
3   4  張凱妮  98
4   5  張彥博  57

In [18]:
df
df.loc[:5,["學號","姓名","地理"]]

   學號   姓名   地理
0   1  劉耿琦   59
1   2  劉嘉泰   87
2   3  詹忠光   91
3   4  張凱妮  100
4   5  張彥博   68
5   6  鄭佳玲   91