In [15]:
#使用list建立Series
import numpy as np
import pandas as pd

s1 = pd.Series([4, 7, -5, 3])
s1

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
#使用index, values
print(s1.index)
print(s1.values)

RangeIndex(start=0, stop=4, step=1)

array([ 4,  7, -5,  3])

In [ ]:
#自訂Series的index

s2 = pd.Series([4, 7, -5, 3], index=['d','b','a','c'])
print(s2)
print(s2.index)
print(s2.values)

In [ ]:
display(s2)
print("==============")
display(s2['a'])
s2['a'] = 5
print("==============")
display(s2)
print("==============")
s2[["c","b","d"]]

In [ ]:
display(s2)
print("==============")
display(s2 * 2)
display(np.exp(s2))

In [18]:
'e' in s2, 'a' in s2

(False, True)

In [23]:
#dictionary 建立Series
sdata = {'國文':78,'英文':86,'數學':96,'地理':64,'歷史':92}
s3 = pd.Series(sdata,index=['國文','數學','英文'])
s3

國文    78
數學    96
英文    86
dtype: int64

In [24]:
s4 = pd.Series(sdata,index=['國文','數學','探索'])
s4

國文    78.0
數學    96.0
探索     NaN
dtype: float64

In [28]:
#pandas module裡面的function
display(pd.isnull(s4))
display(pd.notnull(s4))
#實體方法
display(s4.isnull())
display(s4.notnull())

國文    False
數學    False
探索     True
dtype: bool

國文     True
數學     True
探索    False
dtype: bool

國文    False
數學    False
探索     True
dtype: bool

國文     True
數學     True
探索    False
dtype: bool

In [30]:
sdata = {'台北':35000, '桃園':71000, '台中':16000,'高雄':5000}
s5 = pd.Series(sdata)
display(s5)
print("==============")
sdata = {'桃園':66000, '台北':25000,  '台中':17000, '高雄':15000}
s6 = pd.Series(sdata)
display(s6)
print("================")
s5 + s6

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

==============

桃園    66000
台北    25000
台中    17000
高雄    15000
dtype: int64

================

台中     33000
台北     60000
桃園    137000
高雄     20000
dtype: int64

In [31]:
s5
s5['台北'] = None
display(s5)
print("============")
display(s6)
print("==============")

s5 + s6

台北        NaN
桃園    71000.0
台中    16000.0
高雄     5000.0
dtype: float64

============

桃園    66000
台北    25000
台中    17000
高雄    15000
dtype: int64

==============

台中     33000.0
台北         NaN
桃園    137000.0
高雄     20000.0
dtype: float64

In [42]:
sdata = {'台北':35000, '桃園':71000, '台中':16000,'高雄':5000}
s7 = pd.Series(sdata)
s7

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [43]:
#values 只可以取出值
s7.values

#索引可以更改
s7.index = ['a','b','c','d']
s7

a    35000
b    71000
c    16000
d     5000
dtype: int64

In [38]:
#Series可以有name
sdata = {'台北':35000, '桃園':71000, '台中':16000,'高雄':5000}
s8 = pd.Series(sdata)
s8.name = "台灣4縣市"
display(s8)
print("==============")
s8.index.name = "縣市"
display(s8)

台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 台灣4縣市, dtype: int64

==============

縣市
台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 台灣4縣市, dtype: int64