In [5]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[4]
student

array([67, 78, 92, 74, 65])

In [4]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文', '英文', '數學', '地理', '歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [6]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [11]:
print(s1['國文']) #使用key-index
s1[0] #使用原生-index

67

/tmp/ipykernel_48974/816554886.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [8]:
for i in s1:
    print(i)

67
78
92
74
65

In [26]:
#numpy的統計 可套用在pandas
#利用numpy的function 作統計
print(s1,end="\n")
print(f"加總:", np.sum(s1))
print(f"平均:", np.mean(s1))
print(f"標準差:", np.std(s1))
print(f"中位數:", np.median(s1))

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64
加總: 376
平均: 75.2
標準差: 9.620810776644555
中位數: 74.0

In [25]:
#多組series 就可組成dataframe
import pandas as pd
pd.DataFrame({
    "徐小明":[78, 92, 76, 91, 72],
    "王大同":[72, 81, 92, 94, 69],
    "張一生":[81, 65, 89, 81, 72],
},index=['國文', '英文', '數學', '地理', '歷史'])

    徐小明  王大同  張一生
國文   78   72   81
英文   92   81   65
數學   76   92   89
地理   91   94   81
歷史   72   69   72

In [28]:
#DataFrame 就是表格資料，可對應到csv
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns=['國文', '英文', '數學', '地理', '歷史']
             )

    國文  英文  數學  地理  歷史
1   95  94  90  80  73
2   91  85  65  73  69
3   77  90  89  96  82
4   92  63  60  88  87
5   93  61  99  98  63
6   99  92  87  64  83
7   82  91  77  87  97
8   88  80  96  89  96
9   85  68  71  72  82
10  98  70  97  92  63
11  92  72  78  72  65
12  79  79  73  79  91
13  63  95  65  83  71
14  87  94  62  90  69
15  83  73  63  63  88
16  83  97  88  68  91
17  72  62  83  88  93
18  87  74  85  63  90
19  98  92  93  88  95
20  79  84  84  65  91
21  93  98  78  65  65
22  63  92  89  76  67
23  83  85  86  63  97
24  96  73  87  89  95
25  73  83  63  99  73
26  68  90  79  80  79
27  65  78  67  95  88
28  86  69  60  96  72
29  67  99  70  85  60
30  76  84  95  87  86
31  95  69  97  68  81
32  79  63  92  98  76
33  66  67  74  60  94
34  99  75  74  94  63
35  98  71  68  76  79
36  76  75  80  78  96
37  98  94  68  78  98
38  81  74  99  74  99
39  61  97  89  68  68
40  94  62  96  73  63
41  99  76  61  74  86
42  92  96  66  67  85
43  99  80  80  93  88
44  95  98  70  66  89
45  88  86  82  70  76
46  81  92  64  68  64
47  68  83  94  62  86
48  84  73  81  71  77
49  79  65  74  77  61
50  83  66  63  97  96