In [2]:
#以dictionary為主的資料結構

import pandas as pd
data = {"字串":["台北","台中"],
        "整數":[1000,3000],
        "浮點數":[3.258,7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [8]:
#視覺美化, pandas.in.formats.style.Styler
#pip intall jinja2
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [ ]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

In [ ]:
#視覺美化資料表, 查matplotlib cmap
#github看不到
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [19]:
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1)

In [21]:
pd.DataFrame(np.random.rand(10,4),
             columns=["A","B","C","D"])
display(df)

def style_negative(v, props=''):
    return props if v < 0 else None

df.style\
.map(style_negative, props='color:red;') #css語法

          0         1         2         3         4
0  0.533048  1.650399 -0.360023 -0.828305  1.201061
1 -0.215643  0.930024 -0.949189  1.108573 -0.901345
2  0.217877  1.521226 -0.409645  0.172104 -1.033310
3  0.390183 -0.702437 -1.406905  1.005419 -2.593986
4 -0.646880 -0.113739 -0.301299  1.380194 -0.204001