In [ ]:
import random
def get_score() -> list:
    score = []
    for i in range(5):
        score.append(random.randint(50, 100))
    return score

def get_names(nums:int) -> list:
    with open('names.txt',encoding='utf-8',newline='') as file:
        names_str = file.read()
        all_names_list = names_str.split(sep="\n")
        names_list = random.choices(all_names_list,k=nums) #取出一定數量的姓名
    return names_list

nums_int = int(input("請輸入學生數:"))
#取得nums_int個姓名
names_list = get_names(nums_int)
students = []
for i in range(nums_int):
    scores = get_score()
    new_list = [names_list[i]] + scores
    students.append(new_list)
students

In [ ]:
import pandas as pd

students_df = pd.DataFrame(students,columns=['姓名','國文','英文','數學','地理','歷史'],index=range(1,nums_int+1))
students_df

In [24]:
display(students_df.head())
print("------")
display(students_df.head(n=2))
print("------")
display(students_df.tail())
print("------")
display(students_df.tail(n=2))

    姓名  國文  英文   數學  地理  歷史
1  許芳如  74  54   88  81  99
2  金宜芳  82  83  100  62  77
3  李雅怡  74  91   60  90  69
4  李美洋  89  55   90  54  59
5  陳志偉  72  92   58  51  73

------

    姓名  國文  英文   數學  地理  歷史
1  許芳如  74  54   88  81  99
2  金宜芳  82  83  100  62  77

------

     姓名  國文  英文  數學  地理  歷史
46  吳振瑋  65  69  88  64  51
47  林希啟  97  66  70  62  94
48  林思賢  72  77  93  79  50
49  艾巧夫  70  94  77  75  50
50  林世城  76  77  84  81  60

------

     姓名  國文  英文  數學  地理  歷史
49  艾巧夫  70  94  77  75  50
50  林世城  76  77  84  81  60

In [ ]:
students_df.index.name = '學號'
students_df.columns.name = '科目'
students_df

In [ ]:
sum_series = students_df['國文'] + students_df['英文'] + students_df['數學'] + students_df['地理'] + students_df['歷史']
sum_series

In [30]:
students_df['總分'] = sum_series
students_df['平均'] = sum_series / 5.0
students_df

科目   姓名   國文   英文   數學  地理  歷史   總分    平均
學號
1   許芳如   74   54   88  81  99  396  79.2
2   金宜芳   82   83  100  62  77  404  80.8
3   李雅怡   74   91   60  90  69  384  76.8
4   李美洋   89   55   90  54  59  347  69.4
5   陳志偉   72   92   58  51  73  346  69.2
6   簡美君   90   56   72  67  66  351  70.2
7   胡淑貞   77   84   97  76  91  425  85.0
8   陳怡珊   61   56   61  64  57  299  59.8
9   陳俊憲   53   85   59  97  97  391  78.2
10  林珍旺   64   80   87  98  70  399  79.8
11  周怡啟   92   96   66  92  71  417  83.4
12  王孝純   57   95   83  63  96  394  78.8
13  蔡世馨   63   75   97  90  99  424  84.8
14  林佳慧   78   84   74  74  79  389  77.8
15  沈心利   65   96   94  62  75  392  78.4
16  尚偉倫   94   81   93  81  82  431  86.2
17  黃健發   83   80   66  66  67  362  72.4
18  黃佩玲   90   73   96  72  91  422  84.4
19  馮淑芬   89  100  100  73  78  440  88.0
20  龔姵君   53   65   92  72  57  339  67.8
21  洪奎夫   85   52   84  96  92  409  81.8
22  蘇婷婷   90   64   68  73  86  381  76.2
23  陳逸凡   73   66   84  98  50  371  74.2
24  聶心怡   66   98   65  82  85  396  79.2
25  白世宏   69   73   95  60  81  378  75.6
26  胡淑貞   56   67   92  86  56  357  71.4
27  林怡偉   63   78   70  73  70  354  70.8
28  金宜芳   94   68   97  86  94  439  87.8
29  林珈發   89   82   73  88  80  412  82.4
30  李政白   57   72   86  97  61  373  74.6
31  陳冠霞   69   61   55  84  99  368  73.6
32  李政白   62   99   55  78  51  345  69.0
33  邱亭君   55   99   78  64  97  393  78.6
34  鄭佳玲   70   50   93  60  94  367  73.4
35  王怡君   70   62   50  80  81  343  68.6
36  林佳人   91   60   67  56  77  351  70.2
37  朱彥志  100   58   88  50  80  376  75.2
38  黃麗美   68   54   84  61  81  348  69.6
39  蔡士賢   52   88   90  96  74  400  80.0
40  蔡士賢   77   83   80  68  72  380  76.0
41  吳晴洋   92   59   68  81  72  372  74.4
42  游治旺   97   67   94  81  67  406  81.2
43  陳建香   99   67   73  62  56  357  71.4
44  林建勳   82   59   52  60  67  320  64.0
45  王展人   54   53   94  73  94  368  73.6
46  吳振瑋   65   69   88  64  51  337  67.4
47  林希啟   97   66   70  62  94  389  77.8
48  林思賢   72   77   93  79  50  371  74.2
49  艾巧夫   70   94   77  75  50  366  73.2
50  林世城   76   77   84  81  60  378  75.6

In [29]:
students_df.to_csv('學生成績.csv')