In [ ]:
import pandas as pd
df = pd.read_csv('world.csv')
allDataFrame = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
taiwan = allDataFrame[allDataFrame["國家"] == "台灣"]
japan = allDataFrame[allDataFrame["國家"] == "日本"]
us = allDataFrame[allDataFrame["國家"] == "美國"]
us

In [ ]:
#新增確診數大於5萬人的日期

taiwan[taiwan["新增確診數"] >= 50000]

In [12]:
#取出最多新增確診數
max = taiwan["新增確診數"].max()
taiwan[taiwan['新增確診數'] == max]

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [15]:
#query()

japan1 = allDataFrame.query('國家=="日本"')

In [16]:
max = japan1["新增確診數"].max()
japan1[japan1['新增確診數'] == max]

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0